name: Analyze component-1

on:
  pull_request:
    types: [opened]
    paths:
      - 'component-1/**' 

jobs:
  scan-file-changes:
    name: Scan file changes
    runs-on: ubuntu-latest
    steps:
      - name: Print message
        run: echo "Detected file changes in component-1"
