name: Run CodeCov

on:
  pull_request:
    types: [opened]
    paths:
      - 'codecov-mp-test/**' 

jobs:
  build:
    name: Test Java Components
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./codecov-mp-test
    steps:
      - name: checkout code
        uses: actions/checkout@v2
      - name: run tests
        run: ./gradlew build
      - name: upload coverage reports to Codecov with GitHub Action
        uses: codecov/codecov-action@v3
        with:
          flags: codecov-mp
          files: ./codecov-mp-test/build/reports/jacoco/testCodeCoverageReport/testCodeCoverageReport.xml
