name: Run CodeCov

on:
  pull_request:
    types: [opened]
    paths:
      - 'component-1/**' 

jobs:
  build:
    name: Test Java Components
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./component-1/sample-java-project-1
    steps:
      - name: checkout code
        uses: actions/checkout@v2
      - name: run tests
        run: ./gradlew jacocoTestReport
      - name: upload coverage reports to Codecov with GitHub Action
        uses: codecov/codecov-action@v3
