name: Release component-4

on:
  pull_request:
    types: [closed]
    paths:
      - 'component-4/**' 

jobs:
  build-and-release:
    if: github.event.pull_request.merged == true
    name: Build and release
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo content
        uses: actions/checkout@v2
      - name: release
        run: |
          git config user.name "bot"
          git config user.email "bot@test.com"
          cd component-4 && ./gradlew release -Prelease.useAutomaticVersion=true
      - name: build docker image and push to docker hub
        run: |
          cd component-4/sample-react-app
          docker build -t binodmx/sample-react-app .
          docker login --username $DOCKER_USERNAME:  --password $DOCKER_PASSWORD
          docker push binodmx/sample-react-app
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
